@font-face{
  font-family: Gumela;
  src: url('../src/fonts/Gumela Regular.otf');
}
@font-face{
  font-family: Arcade;
  src: url('../src/fonts/ARCADECLASSIC.TTF');
}
body {
  margin: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gumela';
  letter-spacing: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
